<!DOCTYPE html>
<html>
    <body>
        <h1>RESULTS2 PAGE</h1>
        <p>This is the second results page.</p>

        <!--This is for visualizing plots-->
        <form action="/secondplot" method="post">
            <p>Grabbing bar graph plot: <br /></p>
            <input type="submit" name="form" value="display plot" />
        </form>

        <p>BAR GRAPH:</p>
        
        <!--<img src="{{url_for('static', filename='ratingsBar.png')}}" />-->
        <img src="static/ratingsBar.png?xxx=9878787661">


        <br />
        <p> <strong>Understanding the bar graph:</strong> <br />
        This plot displays how many recipes have a certain rating value. Through this bar graph, we <br />
        can see the distribution of how the prior users have rated these recipes and we can understand the <br />
        overall quality of the recipes that are visible on our website.
        
        
        </p>

        <br />

        <!--<form action="/linearplot" method="post">
            <p>Grabbing bar graph: <br /></p>
            <input type="submit" name="form" value="display bar" />
        </form>
        <p>BAR GRAPH:</p>
        
        <img src="{{url_for('static', filename='linearplots3.png')}}" />-->

    </body>
</html>
