<!DOCTYPE html>
<html>
    <body>
        <h1>RESULTS2 PAGE</h1>
        <p>This is the second results page.</p>

        <!--This is for visualizing plots-->
        <form action="/secondplot" method="post">
            <p>Grabbing bar graph plot: <br /></p>
            <input type="submit" name="form" value="display plot" />
        </form>

        <p>BAR GRAPH:</p>
        
        <img src="{{ url_for('static', filename=graph) }}" />
        <p># of Recipes with 0.0 Rating</p>
        <div> {{ value0 }} </div>
        <p># of Recipes with 1.0 Rating</p>
        <div> {{ value1 }} </div>
        <p># of Recipes with 2.0 Rating</p>
        <div> {{ value2 }} </div>
        <p># of Recipes with 3.0 Rating</p>
        <div> {{ value3 }} </div>
        <p># of Recipes with 4.0 Rating</p>
        <div> {{ value4 }} </div>
        <p># of Recipes with 5.0 Rating</p>
        <div> {{ value5 }} </div>

        <br />
        <p> <strong>Understanding the bar graph:</strong> <br />
        This plot displays how many recipes have a certain rating value. Through this bar graph, we <br />
        can see the distribution of how the prior users have rated these recipes and we can understand the <br />
        overall quality of the recipes that are visible on our website.
        
        
        </p>

        <br />


    </body>
</html>
