<!DOCTYPE html>
<html>
    <body>
        <h1>RESULTS1 PAGE</h1>
        <p>This is the first analytics page.</p>

        <!--This is for visualizing plots-->
        <form action="/firstplot" method="post">
            <p>Grabbing histogram plot: <br /></p>
            <input type="submit" name="form" value="display plot" />
        </form>

        <p>HISTOGRAM:</p>
        
        <img src="{{ url_for('static', filename=graph) }}" />
        

        <br />
        <p> <strong>Understanding the histogram:</strong> <br />
        This plot displays the distribution of the number of steps that are taken to cook the recipe. <br />
        From this plot, we can see that most recipes tend to have about four to ten steps.
        
        </p>

        <br />


    </body>
</html>
