<!DOCTYPE html>
<html>
    <body>
        <h1>RESULTS1 PAGE</h1>
        <p>This is the first analytics page.</p>

        <!--This is for visualizing plots-->
        <form action="/linearplot" method="post">
            <p>Grabbing histogram plot: <br /></p>
            <input type="submit" name="form" value="display plot" />
        </form>

        <p>HISTOGRAM:</p>
        
        <!--<img src="{{url_for('static', filename='histstepall.png')}}" />-->
        <img src="static/histstepall.png?xxx=987878787">

        <br />
        <p> <strong>Understanding the histogram:</strong> <br />
        This plot displays the distribution of the number of steps that are taken to cook the recipe. <br />
        From this plot, we can see that most recipes tend to have about four to ten steps.
        
        </p>

        <br />

        <!--<form action="/linearplot" method="post">
            <p>Grabbing bar graph: <br /></p>
            <input type="submit" name="form" value="display bar" />
        </form>
        <p>BAR GRAPH:</p>
        
        <img src="{{url_for('static', filename='linearplots3.png')}}" />-->

    </body>
</html>
